@font-face {
  font-family: 'Superscratchy';
  src: local('Superscratchy'),
       url(./assets/fonts/Superscratchy.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Superscratchy;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9da9bb;
  text-align: left;
  background-color: #061325;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, i{
  font-family: Superscratchy;
  color: rgb(216, 226, 239);
}

h1{
  font-size: 48px;
}

.img-container{
  width: 30%;
  padding: 0px 15px;
}

.text-container{
  width: 45%;
}

.img-logo{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faq,
.about{
  padding: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.faq p,
.about p{
  font-size: 20px;
  color: rgb(216, 226, 239);
  text-align: center;
}

.gridImage{
  display: flex;
  flex-wrap: wrap;
  
}

.imgBox{
  width: 50%;
  height: 50%;
  padding: 20px;
}

.faq-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price{
  text-align: center;
  z-index: 10;
  width: 20%;
  /* align-items: center; */
  left: 38%;
  top: 82%;
  position: absolute;
}

.price span{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price span i{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-container div{
  padding: 0px;
}

.footer-container .col-md-1{
  text-align: center;
}