@font-face {
  font-family: 'Superscratchy';
  src: local('Superscratchy'),
       url(./assets/fonts/Superscratchy.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Superscratchy;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9da9bb;
  text-align: left;
  background-color: #061325;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, i{
  font-family: Superscratchy;
  color: rgb(216, 226, 239);
}

h1{
  font-size: 48px;
}

.img-container{
  width: 34%;
  padding: 0px 15px;
}

.text-container{
  width: 45%;
}

.img-logo{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faq,
.gremplin{
  padding: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.faq p,
.gremplin p{
  font-size: 20px;
  color: rgb(216, 226, 239);
  text-align: center;
}

.gridImage{
  display: flex;
  flex-wrap: wrap;
  
}

.imgBox{
  width: 50%;
  height: 50%;
  padding: 20px;
}

.gremplin-img,
.member-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.member-img-box{
  width: 120px;
  height: 120px;
}

.about-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.members{
  padding-top: 50px;
  padding-bottom: 30px;
}

.member{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.member-img{
  margin-bottom: 10px;
}

.price{
  text-align: center;
  z-index: 10;
  width: 20%;
  /* align-items: center; */
  left: 38%;
  top: 85%;
  position: absolute;
  
}

.price span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #e9e1dc;
}

.price span i{
  margin-right: 10px;
}

.price h3,
.price h1,
.price span i{
  color: #e9e1dc;
}

.footer-container{
  display: flex;
  flex-direction: row;
  border-top: solid 1px hsla(0,0%,100%,.1);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.footer-container div{
  padding: 0px;
}

.logo-footer{
  margin-right: 10px;
}

.footer-container .col-md-9{
  text-align: left;
  vertical-align: middle;
}

.footer-container .col-md-9 p{
  line-height: 24px;
}